.wheel__item-2::after,
.wheel__item-4::after {
  transform: rotate(0deg);
  animation: wheel;
  animation-duration: 35s;
  animation-timing-function: linear;
  /* animation-iteration-count: 6; */
}
@keyframes wheel {
  0% {
    transform: rotate(0deg);
  }
  17.59% {
    transform: rotate(2360deg);
  }
  17.6% {
    transform: rotate(0deg);
  }
  87.29% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(2360deg);
  }
}
.car__wrapper {
  top: 0;
  left: -1100px;
  /* left: 100px; */
  animation: car;
  animation-duration: 34s;
  animation-timing-function: linear;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}
@keyframes car {
  0% {
    left: -1200px;
  }
  14.7% {
    left: 100px;
  }
  85.29% {
    left: 100px;
  }
  100% {
    left: 1900px;
  }
}
.animation__witch {
  position: absolute;
  max-width: 120px;
  right: 190px;
  top: 20px;
  animation: witch;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-delay: 5s;
  opacity: 0;
}
@keyframes witch {
  0% {
    max-width: 120px;
    right: -190px;
    top: 20px;
    opacity: 1;
  }
  40% {
    max-width: 150px;
    right: 600px;
    top: -40px;
    opacity: 1;
  }
  60% {
    max-width: 200px;
    right: 900px;
    top: -60px;
    opacity: 1;
  }
  100% {
    max-width: 100px;
    right: 2000px;
    top: -100px;
    opacity: 1;
  }
}
.animation__cat-1 {
  position: absolute;
  top: 7%; /* 20/7 */
  left: -14%; /* 20/190 */
  max-width: 50%;
  opacity: 0; /* 60/120 */
  animation: cat-1;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-delay: 5s;
}
@keyframes cat-1 {
  0% {
    opacity: 1;
  }
  64% {
    opacity: 1;
  }
  65% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.body__item-2::after {
  /* box-shadow: -5px -0px 10px #d72727b6; */
  background-color: #c7281d;
  animation: light;
  animation-duration: 35s;
  transition-timing-function: cubic-bezier(0, 1.19, 0.95, 1.01);
}

@keyframes light {
  0% {
    background-color: #e31809;
    box-shadow: -5px 0px 10px #d72727b6;
  }
  17% {
    background-color: #e31809;
    box-shadow: -5px 0px 10px #d72727b6;
  }
  17.5% {
    background-color: #c7281d;
    box-shadow: none;
  }
  74% {
    background-color: #c7281d;
    box-shadow: none;
  }
  75.29% {
    background-color: #e31809;
    box-shadow: -5px 0px 10px #d72727b6;
  }

  100% {
    background-color: #e31809;
    box-shadow: -5px 0px 10px #d72727b6;
  }
}
.body__item-3::after {
  background-color: #404042;
  animation: light-2;
  animation-duration: 35s;
  transition-timing-function: cubic-bezier(0, 1.19, 0.95, 1.01);
}
@keyframes light-2 {
  0% {
    background-color: #fae311;
    box-shadow: 5px 5px 30px #f6ff7b;
  }
  17% {
    background-color: #fae311;
    box-shadow: 5px 5px 30px #f6ff7b;
  }
  17.5% {
    background-color: #404042;
    box-shadow: none;
  }
  74% {
    background-color: #404042;
    box-shadow: none;
  }
  75.29% {
    background-color: #fae311;
    box-shadow: 5px 5px 30px #f6ff7b;
  }

  100% {
    background-color: #fae311;
    box-shadow: 5px 5px 30px #f6ff7b;
  }
}
.animation__cat-2 {
  position: absolute;
  max-width: 155px;
  transform: rotate(-70deg);
  top: -20px;
  left: 260px;
  opacity: 0;
  animation: cat-2;
  animation-duration: 1s;
  animation-delay: 8.5s;
}
@keyframes cat-2 {
  0% {
    opacity: 1;
    top: -40px;
  }
  95% {
    opacity: 1;
    top: 60px;
  }
  100% {
    opacity: 0;
    top: 70px;
  }
}
.animation__cat-3 {
  position: absolute;
  max-width: 180px;
  top: 60px;
  left: 250px;
  z-index: 4;
  opacity: 0;
  animation: cat-3;
  animation-duration: 9.5s;
  animation-delay: 9.5s;
}
.animation__cat-3::before,
.animation__cat-3::after {
  content: "";
  background-color: #e40a0a2f;
  max-width: 12px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 4px dashed #fff20032;
  position: absolute;
  inset: 31px 54px;
  box-shadow: 1px 1px 10px #fff200b6;
  opacity: 0;
  animation: cat-eye;
  animation-duration: 7s;
  animation-delay: 10.5s;
}
.animation__cat-3::after {
  inset: 31px 73px;
  transform: rotate(70deg);
}
@keyframes cat-eye {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes cat-3 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
.body__item-2,
.body__up {
  /* background: #f29326 url("../img/hbg.png") 0% 200% / cover no-repeat; */
  animation: bg;
  animation-duration: 6s;
  animation-delay: 11.5s;
  /* animation-timing-function: cubic-bezier(0.400, 0.015, 1.000, -0.085); */
  animation-fill-mode: forwards;
}
@keyframes bg {
  0% {
    background: #f29326 url("../img/car-bg.png") 0% 150% / cover no-repeat;
  }
  100% {
    background: #f29326 url("../img/car-bg.png") 0% 5% / cover no-repeat;
  }
}
.body__item-6::after {
  transform: translateY(0%);
  animation: window-open;
  animation-duration: 7s;
  animation-delay: 17.5s;
  animation-timing-function: linear;
}

@keyframes window-open {
  0% {
    transform: translateY(0%);
  }
  40% {
    transform: translateY(60%);
  }
  80% {
    transform: translateY(60%);
  }
  100% {
    transform: translateY(0%);
  }
}
.animation__cat-4 {
  position: absolute;
  max-width: 230px;
  inset: 110px 300px;
  transform: rotate(35deg);
  z-index: 5;
  opacity: 0;
  animation: cat-4;
  animation-duration: 2s;
  animation-delay: 19s;
  animation-timing-function: linear;
}
@keyframes cat-4 {
  0% {
    inset: 110px 300px;
    opacity: 1;
  }
  95% {
    inset: 170px 600px;
    opacity: 1;
  }
  100% {
    inset: 170px 600px;
    opacity: 0;
  }
}
.animation__pumpkin {
  animation: pumpkin;
  animation-duration: 8s;
  animation-delay: 26s;
  opacity: 0;
  position: absolute;
  max-width: 500px;
  right: -200px;
  top: 110px;
}
@keyframes pumpkin {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.animation__halloween {
  position: absolute;
  max-width: 600px;
  top: -100px;
  left: 580px;
  transform: scale(1);
  animation: halloween;
  animation-duration: 5s;
  animation-delay: 33s;
  opacity: 0;
  animation-fill-mode: forwards;
}
@keyframes halloween {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  40% {
    transform: scale(0.5);
    opacity: 1;
  }
  100% {
    transform: scale(1.2);
    opacity: 1;
  }
}
