.ol-list__wrapper {
	display: flex;
	flex-wrap: wrap;
	gap: 80px;
	justify-content: center;
	li {
	list-style: decimal;
	&::marker{
	color:  rgba(227, 214, 23, 0.9568627451);
	font-size: 16px;
	}
}
}
.btn {
	max-width: 250px;
  margin-block: 20px;
  width: 100%;
  font-size: 25px;
  background-color: rgba(199, 191, 77, 0.4862745098);
  border-radius: 5px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  padding: 10px;
  &:hover {
  background-color: rgba(227, 213, 23, 0.6235294118);
}

}
