@import url("https://fonts.googleapis.com/css?family=Epilogue:regular,700,800,900&display=swap");
@import url("reset.css");

body {
  font-family: "Epilogue", sans-serif;
}
.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: #32334c;
  color: #ffffff;
}
.wrapper > main {
  flex-grow: 1;
}

[class*="__container"] {
  max-width: 1200px;
  margin-inline: auto;
  padding-inline: 15px;
}

.header__title {
  font-size: 30px;
  padding-block: 15px;
  font-weight: 700;
  letter-spacing: 4px;
}
.portfolio {
  padding-block: 92px 55px;
}

.portfolio__subject {
  margin-bottom: 36px;
}
.subject__title {
  color: #ef6d58;
  line-height: 2;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.subject__title--center {
  text-align: center;
}
.subject__info {
  font-size: 56px;
  font-weight: 800;
  line-height: 1.14;
  letter-spacing: -1px;
}
.subject__info--center {
  text-align: center;
}
.subject *:last-child {
  margin-bottom: 0;
}
.portfolio__list {
  display: flex;
  justify-content: center;
  gap: 46px;
  margin-bottom: 46px;
  line-height: 2;
  color: #ffffff64;
  flex-wrap: wrap;
}
.portfolio__link {
  transition: color 0.3s ease;
}
.portfolio__link:hover {
  color: #ffffff;
}
.portfolio__link sup {
  vertical-align: 12px;
  padding-bottom: 20px;
  font-size: 14px;
  line-height: 1.7;
}
.portfolio__illustration {
  padding-bottom: 64px;
}
.illustration {
  display: grid;
  gap: 30px;
  grid-template-columns: 470px 1fr 470px;
}
.illustration__block {
  display: flex;
  position: relative;
  min-height: 416px;
  align-items: flex-end;
  padding: 51px 20px;
}
.illustration__block:nth-child(4n + 2),
.illustration__block:nth-child(4n + 3) {
  grid-column: span 2;
}
@media (max-width: 1049px){
.illustration {
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr) );
}
.illustration__block:nth-child(4n + 2),
.illustration__block:nth-child(4n + 3) {
  grid-column: span 1;
}

}
@media (max-width: 450px){
	.illustration {
  grid-template-columns: 1fr;
}
}

.illustration__block::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
  background-color: #5c200033;
  opacity: 1;
  transition: all 0.6s ease;
}
.illustration__block:hover::after {
  opacity: 0;
  width: 80%;
  height: 80%;
}

.illustration__img {
  position: absolute;
  inset: 0;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;
}

.illustration__block:hover .illustration__img {
  transform: scale(1.03);
}

.illustration__content {
  position: relative;
  z-index: 5;
}
.illustration__title {
  display: inline-block;
  color: #391400;
  line-height: 2;
  border-radius: 19px;
  background: #fff;
  margin-bottom: 24px;
  min-height: 38px;
  padding-inline: 15px;
  text-align: center;
  padding-block: 5px;
}
.illustration__subtitle {
  font-size: 40px;
  font-weight: 800;
  line-height: 1.2;
}

.btn {
  display: flex;
  justify-content: center;
}
.btn__link {
  text-align: center;
  min-width: 170px;
  border-radius: 6px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  font-size: 14px;
  font-weight: 900;
  line-height: normal;
  text-transform: uppercase;
  padding: 18px 10px;
  transition: all 0.5s ease;
}
.btn__link:hover {
  background-color: #ffffff1c;
  letter-spacing: 1.4px;
}
