@import url("https://fonts.googleapis.com/css?family=Jomolhari:regular&display=swap");
@import url("reset.css");
body {
  font-family: "Jomolhari", serif;
  background-color: #c5cfd3;
}
.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.wrapper > main {
  flex-grow: 1;
}

[class*="__container"] {
  max-width: 1342px;
  margin-inline: auto;
  padding-inline: 15px;
}
.header,
.block,
.footer {
  padding-block: 20px;
}
.divider{
padding-block: 1px;
background-color: #545d4f;
}
.header {
  font-size: 25px;
}


.items {
  column-gap: 32px;
  row-gap: 24px;
  display: grid;
  grid-template-columns: repeat(4, minmax(100px, 1fr));
  width: 100%;
  	padding-block: 15px;
	  border-bottom: 2px solid  #545d4f;
}
.item__content {
  position: relative;
  background-color: #545d4f;
  text-align: center;
  z-index: 2;
  padding: 43px 10px;
  display: flex;
  justify-content: center;

}
.item__content img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}
.item__title {
  align-self: flex-end;
  flex-grow: 1;
  position: relative;
  z-index: 2;
  color: #fff;
  font-size: 35px;
  font-weight: 400;
  letter-spacing: 1.4px;
}
.item__content:nth-child(2) {
  flex-grow: 1;
}
.item {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}
.item--reverse {
  flex-direction: column-reverse;
}
.item .item__content:last-child {
  aspect-ratio: 304 / 296;
}
.item .item__content:first-child {
  aspect-ratio: 304 / 184;
}

.item.item--small .item__content {
  aspect-ratio: 304 / 152;
}
.item--small .item__content {
  flex-grow: 0;
}
.item--small .item__content:nth-child(3){
	  flex-grow: 1;
}
.item.item--big .item__content {
  aspect-ratio: 305 / 504;
  flex-grow: 1;
}
@media (max-width: 1100px) {
  .item {
    row-gap: 14px;
  }
  .items {
    column-gap: 20px;
    row-gap: 14px;
  }
  .item__title {
    font-size: 25px;
  }
  .item__content {
    padding-bottom: 25px;
  }
}
@media (max-width: 950px) {
  .items {
    grid-template-columns: repeat(2, minmax(100px, 1fr));
  }
}

@media (max-width: 500px) {
  .items {
    grid-template-columns: minmax(100px, 1fr);
  }
  .items .item .item__content {
    aspect-ratio: 304 / 152;
  }
}

/* .item__content--midle {
  aspect-ratio: 304 / 184;
}
.item__content--big {
  aspect-ratio: 304 / 296;
}
.item__content--small {
  aspect-ratio: 304 / 152;
} */

/* .item:nth-child(17n + 1) .item__content,
.item:nth-child(17n + 3) .item__content,
.item:nth-child(17n + 6) .item__content,
.item:nth-child(17n + 14) .item__content,
.item:nth-child(17n + 15) .item__content {
	aspect-ratio: 305 / 183;
}

.item:nth-child(17n + 2) .item__content,
.item:nth-child(17n + 4) .item__content,
.item:nth-child(17n + 5) .item__content,
.item:nth-child(17n + 13) .item__content,
.item:nth-child(17n + 16) .item__content {
	aspect-ratio: 305 / 295;
}

.item:nth-child(17n + 7) .item__content,
.item:nth-child(17n + 8) .item__content,
.item:nth-child(17n + 9) .item__content,
.item:nth-child(17n + 10) .item__content,
.item:nth-child(17n + 11) .item__content,
.item:nth-child(17n + 12) .item__content {
	aspect-ratio: 305 / 150.5;
}

.item:nth-child(17n + 17) .item__content {
	aspect-ratio: 305 / 504;
} */

/* .item:nth-child(17n + 1) .item__content,
.item:nth-child(17n + 4) .item__content,
.item:nth-child(17n + 8) .item__content */
/* .item:nth-child(17n + 6) .item__content, */
/* .item:nth-child(17n + 14) .item__content,
.item:nth-child(17n + 15) .item__content { */

/* .item:nth-child(17n + 2) .item__content,
.item:nth-child(17n + 3) .item__content,
.item:nth-child(17n + 9) .item__content */
/* .item:nth-child(17n + 13) .item__content,
.item:nth-child(17n + 16) .item__content { */

/* .item:nth-child(17n + 5) .item__content,
.item:nth-child(17n + 6) .item__content,
.item:nth-child(17n + 7) .item__content */
/* .item:nth-child(17n + 10) .item__content,
.item:nth-child(17n + 11) .item__content,
.item:nth-child(17n + 12) .item__content { */

/* .item:nth-child(17n + 17) .item__content {
	aspect-ratio: 305 / 504;
} */
