@import url("https://fonts.googleapis.com/css?family=Manrope:500,600,700&display=swap");
@import url(reset.css);

body {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  color: #ffffff;
}
.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: #141414;
}
.wrapper > main {
  flex-grow: 1;
}

[class*="__container"] {
  max-width: 1528px;
  margin-inline: auto;
  padding-inline: 15px;
}
.header__container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
  padding-block: 15px;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  flex-basis: 50%;
}
.nav__portfolio {
  transition: color 0.5s ease;
}
.nav__portfolio:hover {
  color: #e50000;
}
.header__title {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 4px;
}
.watch-movies {
  padding-block: 50px 75px;
}
.watch-movies__container,
.our-genres__container {
  padding: 50px;
  background-color: #1a1a1a;
  border-radius: 12px;
  border: 1px solid #262626;
}
.watch-movies__upward {
  margin-bottom: 50px;
}
.upward {
  display: flex;
  gap: 50px;
  justify-content: space-between;
  align-items: center;
}
.upward__title {
  font-size: 38px;
  font-weight: 700;
  line-height: 1.5;
}

.option {
  flex: 0 1 257px;
  border-radius: 12px;
  border: 1px solid #1f1f1f;
  background-color: #0f0f0f;
  display: flex;
  gap: 16px;
  align-items: center;
  padding: 16px;
}
.option__arrow {
  cursor: pointer;
  border-radius: 8px;
  border: 1px solid #1f1f1f;
  background: #1a1a1a;
  padding: 14px;
  width: 100%;
  flex-basis: 56px;

  transition: all 0.5s ease;
}
.option__arrow:hover {
  border: 1px solid #ffffff;
  box-shadow: 1px 1px 5px #ffffff75;
}

.option__line {
  display: flex;
  gap: 3px;

}
.option__line *:first-child {
  background: #e50000;
  width: 23px;

}
.option__line * {
  border-radius: 100px;
  background: #333;
  width: 16px;
  height: 4px;
}
.option__arrow--right {
  transform: rotate(180deg);
}
.cards {
  display: flex;
  gap: 20px;
}
.cards__item {
  flex: 1 1 23%;
  width: 100%;
  padding: 20px;
  border-radius: 12px;
  border: 1px solid #262626;
  background: #1a1a1a;
  transition: all 0.5s ease;
}
.cards__item:hover {
  border: 1px solid #ffffff;
  box-shadow: 1px 1px 5px #ffffff75;
}
.cards__img {
  margin-bottom: 20px;
  width: 100%;
  aspect-ratio: 319 / 440;
  object-fit: cover;
  border-radius: 10px;
}
.cards__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  color: #999;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
}
.cards__duration {
  border-radius: 51px;
  border: 1px solid #262626;
  background-color: #141414;
  padding: 6px 10px;
  position: relative;
  padding-left: 32px;
}

.cards__duration::before {
  position: absolute;
  content: "";
  max-width: 24px;
  aspect-ratio: 1;
  border-radius: 50%;
  width: 100%;
  background: url("../img/movies/clock.svg") center center/cover no-repeat;
  inset: 14% 6%;
  flex-shrink: 1;
}
.cards__rating {
  border-radius: 51px;
  border: 1px solid #262626;
  background-color: #141414;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 6px 10px;
  justify-content: space-between;
  flex: 0 1 148px;
}
.cards__stars {
  flex: 0 1 98px;
  display: flex;
  gap: 2px;
  align-items: center;
  justify-content: flex-end;
}
.cards__stars * {
  aspect-ratio: 1;
  width: 80%;
  flex-basis: 18px;
}
.cards__half {
  display: flex;
}
.cards__half * {
  flex-shrink: 1;
  flex-basis: 9.5px;
}
.cards__half *:last-child {
  margin-left: -1px;
}
.slider {
  display: none;
  height: 5px;
  justify-content: center;
}
.slider *:first-child {
  flex: 0 0 20px;
  border-radius: 20px;
  background: #e50000;
}
.slider *:last-child {
  flex: 0 0 79px;
  border-radius: 20px;
  background: #333;
}
.our-genres {
  position: relative;
  padding-block: 75px 50px;
}

.our-genres__link {
  /* position: absolute;
top: -67px; */
  margin-top: -70px;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.5;
}
.link__item {
  border-radius: 8px;
  background: #e50000;
  padding: 10px 24px;
  outline: 1px solid #ffffff00;
  transition: all 0.5s ease;
}
.link__item:hover{
	  outline: 1px solid #fff;
}
.our-genres__upward {
  margin-bottom: 50px;
}

.genres-cards {
	display: flex;
	gap: 30px;
}
.genres-cards__item {
	
	flex-shrink: 1;
  border-radius: 12px;
  border: 1px solid #262626;
  background: #1a1a1a;
  padding: 30px;
  transition: all 0.5s ease;
}
.genres-cards__item:hover {
  border: 1px solid #ffffff;
  box-shadow: 1px 1px 5px #ffffff75;
}
.genres-cards__wrapper {
  position: relative;
  display: flex;
  gap: 5px;
  max-width: 215px;
  width: 100%;
  flex-wrap: wrap;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
.genres-cards__wrapper::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(26, 26, 26, 0) 0%, #1a1a1a 101.79%);
  inset: 0;
  transition: all 0.5s ease;
}
.genres-cards__wrapper:hover::after {
  opacity: 0;
}

.genres-cards__img{
	aspect-ratio: 105 / 123;
	object-fit: cover;
	width: calc(50% - 2.5px);
	  border-radius: 10px;
}
/* .genres-cards__group{
	display: flex;
  gap: 5px;
  flex-shrink: 1;
  flex-basis:  215px;
}
.genres-cards__img{
  border-radius: 10px;
  aspect-ratio: 105 / 123;
  object-fit: cover;
  width: 100%;
  flex: 0 1 45%;
} */

.genres-cards__info {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
}
.genres-cards__subtitle {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5;
}
.genres-cards__arrow  {
  transform: rotate(180deg);
  aspect-ratio: 1;
max-width: 30px;
padding: 5px;

}

@media (max-width: 1418px) {
  .cards__duration::before {
    max-width: 20px;
  }
  .cards__duration {
    padding-left: 28px;
  }
  .cards__info {
    font-size: 12px;
    gap: 5px;
  }
  .cards__rating {
    flex-basis: 120px;
  }
}

@media (max-width: 1300px) {

		 .our-genres {

  padding-block: 25px 40px;
}
.watch-movies {
  padding-block: 40px 25px;
}
	
	.link__item {
  padding: 8px 20px;
}
  .cards__item {
    padding: 16px;
  }
  .cards__duration {
    padding-left: 21px;
  }
  .cards__duration::before {
    max-width: 18px;
    inset: 18% 4%;
  }
  .upward__title {
    font-size: 30px;
  }
  .watch-movies__upward {
    margin-bottom: 40px;
  }
  .option {
    flex-basis: 205px;
    gap: 12px;
    padding: 12px;
  }
  .option__arrow {
    padding: 10px;
    flex-basis: 44px;
  }
  .option__line *:first-child {
    width: 18px;
  }
  .option__line * {
    width: 14px;
  }
  .cards__img {
    margin-bottom: 14px;
  }
  .genres-cards__item {
	padding: 24px;
	flex: 1 0 181px;
  }
}
@media (max-width: 1150px) {
  /* Другий варіант */
  /* .cards--second{
		flex-wrap: wrap;
		justify-content: center;
	} */
	 .our-genres {
  padding-block: 25px ;
}
.watch-movies {
  padding-block: 25px;
}
  .cards__item {
    padding: 12px;
  }
  .cards__img {
    margin-bottom: 12px;
  }
  .watch-movies__cards {
    gap: 16px;
  }
  .cards__item {
    flex: 0 1 231px;
    min-width: 231px;
  }
  .cards__img {
    aspect-ratio: 207 / 235;
  }
  .cards__rating {
    padding: 6px 8px;
    flex: 0 1 116px;
  }
  	.genres-cards__item {
		padding: 20px;
		flex: 1 0 181px;
	}
}
@media (max-width: 750px) {
	.genres-cards__item {
		padding: 20px;
		flex: 0 0 181px;
	}
  .option {
    display: none;
  }
  .upward__title {
    font-size: 24px;
  }
  .watch-movies__upward {
    margin-bottom: 20px;
  }
  .watch-movies__cards, .our-genres__genres-cards {
    margin-bottom: 20px;
  }
  .slider {
    display: flex;
  }
}
