@import url("https://fonts.googleapis.com/css?family=Epilogue:regular,700,800,900&display=swap");
@import url("reset.css");

body {
  font-family: "Epilogue", sans-serif;
}
.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: #32334c;
  color: #ffffff;
}
.wrapper > main {
  flex-grow: 1;
}

[class*="__container"] {
  max-width: 1200px;
  margin-inline: auto;
  padding-inline: 15px;
}
.header__container{
	display: flex;
	justify-content: space-between;
	gap: 20px;
	flex-wrap: wrap;
	 padding-block: 15px;
}
.nav{
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 10px;
	flex-wrap: wrap;
	flex-basis: 50%;	
}
.nav__portfolio{
	transition:  color 0.5s ease ;
}
.nav__portfolio:hover{
	 color: #ef6d58;
}
.header__title {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 4px;
}
.portfolio {
  padding-block: 92px 55px;
}

.portfolio__subject {
  margin-bottom: 36px;
}
.subject__title {
  color: #ef6d58;
  line-height: 2;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.subject__title--center {
  text-align: center;
}
.subject__info {
  font-size: 56px;
  font-weight: 800;
  line-height: 1.14;
  letter-spacing: -1px;
}
.subject__info--center {
  text-align: center;
}
.subject *:last-child {
  margin-bottom: 0;
}
.portfolio__list {
  display: flex;
  justify-content: center;
  gap: 46px;
  margin-bottom: 46px;
  line-height: 2;
  color: #ffffff64;
  flex-wrap: wrap;
}
.portfolio__link {
  transition: color 0.3s ease;
}
.portfolio__link:hover {
  color: #ffffff;
}
.portfolio__link sup {
  vertical-align: 12px;
  padding-bottom: 20px;
  font-size: 14px;
  line-height: 1.7;
}
.portfolio__illustration {
  padding-bottom: 64px;
}
.illustration {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.illustration__block {
  display: flex;
  flex: 1 1 40.17%;
  position: relative;
  /* min-height: 470px; */
  align-items: flex-end;
  padding: 51px 48px;
  object-fit: cover;
  aspect-ratio: 470 / 416;
}

.illustration__block:nth-child(4n + 2),
.illustration__block:nth-child(4n + 3) {
  flex-basis: 56.26%;
  aspect-ratio: 670 / 416;
}

.illustration__block::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
  background-color: #5c200033;
  opacity: 1;
  transition: all 0.6s ease;
}
.illustration__block:hover::after {
  opacity: 0;
  width: 80%;
  height: 80%;
}

.illustration__img {
  position: absolute;
  inset: 0;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left;
  transition: transform 0.5s ease;
}
.illustration__block:hover .illustration__img {
  transform: scale(1.03);
}

.illustration__content {
  position: relative;
  z-index: 5;
  min-width: 198px;
}
.illustration__title {
  display: inline-block;
  color: #391400;
  line-height: 2;
  border-radius: 19px;
  background: #fff;
  margin-bottom: 24px;
  min-height: 38px;
  padding-inline: 15px;
  text-align: center;
  padding-block: 5px;
}
.illustration__subtitle {
  font-size: 40px;
  font-weight: 800;
  line-height: 1.2;
}

.btn {
  display: flex;
  justify-content: center;
}
.btn__link {
  text-align: center;
  min-width: 170px;
  border-radius: 6px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  font-size: 14px;
  font-weight: 900;
  line-height: normal;
  text-transform: uppercase;
  padding: 18px 10px;
  transition: all 0.5s ease;
}
.btn__link:hover {
  background-color: #ffffff1c;
  letter-spacing: 1.4px;
}
.get-started {
  padding-block: 137px 70px;
}
/* .get-started__container {
  border-radius: 6px;
  background: #fdf0e9;
  padding: 0 83px 0 100px;
  position: relative;
} */
.get-started__wrapper {
  display: flex;
  position: relative;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 15px;
  border-radius: 6px;
  background: #fdf0e9;
  padding: 0 83px 0 100px;
}
.get-started__info {
  padding-block: 92px 40px;
  display: flex;
  flex-direction: column;
  gap: 23px;
  flex-basis: 248px;
  position: relative;
}
.get-started__wrapper::after {
  content: "";
  position: absolute;
  max-width: 148px;
  min-height: 148px;
  width: 100%;
  background: url("../img/present-bg.svg") center center/148px no-repeat;
  left: 89px;
  top: -76px;
}
.get-started__wrapper::before {
  content: "";
  position: absolute;
  max-width: 32px;
  min-height: 32px;
  width: 100%;
  background: url("../img/present.svg") center center/32px no-repeat;
  left: 148px;
  top: -16px;
  z-index: 2;
  animation-name: present;
  animation-iteration-count: infinite;
  animation-duration: 2s;
  animation-timing-function: linear;
}
@keyframes present {
  0% {
    transform: translateX(10%);
  }
  50% {
    transform: translateX(-10%);
  }
  100% {
    transform: translateX(10%);
  }
}
.subject__title--min-bottom {
  margin-bottom: 13px;
}
.subject__descr {
  text-align: left;
  color: #391400;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.33;
  letter-spacing: 0;
}

.get-started__btn {
  justify-content: flex-start;
}
.btn__link--red {
  background: #ef6d58;
  border: none;
  min-width: 154px;
}
.btn__link--red:hover {
  background: #ef6c58f0;
}

.get-started__img-block {
  align-self: center;
  /* padding-top: 80px; */
  flex-basis: 338px;
  box-shadow: 0px 24px 48px 0px rgba(85, 30, 0, 0.04);
  width: 100%;
}
.get-started__img-woman {
  max-width: 239px;
  width: 100%;
  position: relative;
  /* position: absolute;
  inset: -69.5% 94%; */
  z-index: 4;
  margin-top: -60px;
	align-content: flex-end;
}
.get-started__img-woman::after {
  content: "";
  position: absolute;
  max-width: 282px;
  min-height: 242px;
  width: 100%;
  inset: 25% -12%;
  background: url("../img/cloud.svg") 0 0 / contain no-repeat;
  z-index: -1;
  animation-name: cloud;
  animation-duration: 7s;
  animation-iteration-count: infinite;
  animation-direction: reverse;
}
@keyframes cloud {
  0% {
    opacity: 0;
  }
  10% {
    transform: scale(1.1);
    opacity: 1;
  }
  60% {
    transform: scale(1.1);
    opacity: 1;
  }

  100% {
    transform: scale(1.7);
    opacity: 0;
  }
}
.events {
  padding-block: 70px;
}

.events__subject {
  margin-bottom: 64px;
}
.subject__info--width-narrow {
  max-width: 426px;
  margin: 0 auto;
}
.events__wrapper {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  margin-bottom: 64px;
  justify-content: space-evenly;
}
.events__item {
  flex: 0 1 370px;
  display: flex;
  flex-direction: column;
  padding: 40px;
  border-radius: 6px;
  border: 1px solid #3a3c56;
  transition: border 0.5s ease;
}
.events__item:hover {
  border: 1px solid #f6f6f9;
}
.events__inner {
  border-bottom: 1px solid #3a3c56;
  padding-bottom: 36px;
}
.events__date {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 8px;
}
.events__number {
  font-size: 72px;
  font-weight: 800;
  line-height: 1.11;
  letter-spacing: -2px;
}
.events__month-year {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.33;
}
.events__time {
  display: flex;
  align-items: center;
  gap: 9px;
  font-weight: 400;
  line-height: 2;
}
.events__time::before {
  content: "";
  flex-shrink: 0;
  flex-basis: 16px;
  width: 100%;
  min-height: 16px;
  background: url("../img/time.svg") 0 0 /16px no-repeat;
  align-self: center;
  margin-bottom: 4px;
}

.events__info {
  padding-top: 40px;
  margin-bottom: 26px;
  flex-grow: 1;
}
.events__suptitle {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.33;
  margin-bottom: 19px;
}
.events__descr {
  color: rgba(255, 255, 255, 0.64);
  line-height: 2;
}

.events__link {
  line-height: 2;
  max-width: fit-content;
  transition: all 0.5s ease;
}
.events__link:hover {
  text-decoration: underline;
  text-decoration-color: #ef6d58;
  text-decoration-thickness: 2px;
  color: #ef6d58;
}

.our-team {
  padding-block: 70px 90px;
}

.our-team__wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 64px;
  align-items: flex-end;
  gap: 30px;
}
.subject__info--width-medium {
  max-width: 531px;
}
.our-team__pointer {
  display: flex;
  gap: 16px;
  align-items: center;
}
.our-team__arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.64);
  border-radius: 50%;
  width: 48px;
  height: 48px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}
.our-team__arrow:hover {
  background-color: #ef6d58;
}
.our-team__arrow--right {
  transform: rotate(180deg);
}
.our-team__specialists {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 52px;
}
.our-team__item {
  flex: 1 1 270px;
}
.our-team__img {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  border-radius: 6px;
  border: 1px solid #3a3c56;
  margin-bottom: 26px;
  min-height: 272px;
  width: 100%;
}
.our-team__img:hover {
  border: 1px solid #f5f5f6;
}
.our-team__img img {
  max-width: 100%;
}
.our-team__name {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.33;
  margin-bottom: 3px;
}
.our-team__specialty-area {
  color: rgba(255, 255, 255, 0.64);
  line-height: 2;
}
.our-team__detector {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
}
.our-team__element {
  max-width: 12px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.64);
  width: 100%;
  transition: background-color 0.5s ease;
}
.our-team__element:hover {
  background-color: #ef6d58;
}
.founder {
  padding-block: 90px 176px;
}
.founder__wrapper {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  /* flex-wrap: wrap; */
}
.founder__img {
  flex: 0 1 570px;
  width: 100%;
}
.founder__img img {
  aspect-ratio: 570 / 448;
  object-fit: cover;
  width: 100%;
}
.founder__content {
  flex: 0 1 470px;
  position: relative;
  z-index: 4;
}
.founder__content::after {
  content: "";
  background: url("../img/quotes.svg") center center/cover no-repeat;
  max-width: 100px;
  min-height: 80px;
  width: 100%;
  position: absolute;
  top: 3%;
  right: 10%;
  z-index: -1;
  animation-name: quotes;
  animation-duration: 8s;
  animation-iteration-count: infinite;
}
@keyframes quotes {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
.founder__subject {
  margin-bottom: 33px;
}
.founder__descr {
  font-size: 40px;
  font-weight: 800;
  line-height: 1.2;
  margin-bottom: 44px;
}
.founder__name {
  font-size: 20px;
  line-height: 1.6;
  margin-bottom: 6px;
}
.founder__post {
  color: rgba(255, 255, 255, 0.64);
  font-size: 14px;
  line-height: 1.7;
}

@media (max-width: 1217px) {
  .our-team__specialists {
    flex-wrap: nowrap;
  }
  .our-team__item {
    /* flex: 0 0 ; */
    flex-shrink: 0;
  }
}
@media (max-width: 1092px) {
  .get-started__wrapper {
    padding: 0 20px;
  }
}
@media (max-width: 949px) {
  .get-started__wrapper {
    justify-content: space-evenly;
  }
  .founder__descr {
    font-size: 24px;
  }
}

@media (max-width: 887px) {
  .illustration {
    gap: 15px;
  }
  .illustration__block {
    aspect-ratio: 329 / 416;
    padding: 51px 10px 51px 28px;
  }
  .our-team {
    padding-block: 50px 58px;
  }
  .founder {
    padding-block: 58px 76px;
  }
}
@media (max-width: 803px){
	.founder__wrapper {
		flex-wrap: wrap;
	}
}
@media (max-width: 695px) {
  .get-started__wrapper {
    flex-direction: column;
    gap: 29px;
  }
  .get-started__img-woman {
    margin-top: 0;
    align-self: center;
  }
  .get-started__info {
    padding-block: 92px 0px;
  }
  .get-started__img-block {
    flex-shrink: 0;
    flex-basis: fit-content;
    width: 100%;
  }
  .get-started__img-block img {
    width: 100%;
    aspect-ratio: 338 / 192;
    max-width: 338px;
  }
}
@media (max-width: 668px) {
  .illustration__block {
    flex-basis: 45%;
  }
  .illustration__block:nth-child(4n + 2),
  .illustration__block:nth-child(4n + 3) {
    flex-basis: 45%;
    aspect-ratio: 329 / 416;
  }

  .get-started {
    padding-block: 89px 70px;
  }
}

@media (max-width: 604px) {
  .subject__info {
    font-size: 40px;
  }
  .portfolio__list {
    flex-direction: column;
    color: rgba(57, 20, 0, 0.64);
    gap: 2px;
  }
  .portfolio__link {
    padding: 9px 16px 7px;
    border-radius: 6px;
    background: #fff;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
  }
  .portfolio__link--arrow::before {
    position: absolute;
    content: "";
    max-width: 10px;
    height: 6px;
    width: 100%;
    background: url("../img/arrow-orange.svg") center center/cover no-repeat;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
  }
  .portfolio__link--hidden {
    display: none;
  }
  .portfolio__link:hover {
    color: #32334c;
    background: #d8d9e2;
  }
  .portfolio__list:hover .portfolio__link--hidden {
    display: flex;
  }
  .events__item {
    padding: 28px;
  }
  .events__descr {
    max-width: 273px;
  }
  .our-team__pointer {
    display: none;
  }
}
@media (max-width: 420px) {
}
