@import url("https://fonts.googleapis.com/css?family=Manrope:regular,600,700,800&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  display: inline-block;
  color: inherit;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

html,
body {
  line-height: 1;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

/* FORM */
input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
}

input,
textarea {
  width: 100%;
}

button,
select,
option {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

:root {
  --bgColor: rgb(33, 32, 32);
  --colorText: rgb(254, 254, 254);
}

body {
  font-family: "Manrope", sans-serif;
  background-color: var(--bgColor);
  color: var(--colorText);
  font-size: 1.5625rem;
  text-align: center;
  line-height: 1.5;
  letter-spacing: 0.0625rem;
}

[class*=__container] {
  max-width: 87.5rem;
  margin-inline: auto;
  padding-inline: 0.9375rem;
}

.task {
  padding-block: 3.125rem;
}
.task__title {
  font-size: 2.5rem;
  text-transform: uppercase;
  letter-spacing: 0.1875rem;
  font-weight: 600;
  margin-bottom: 2.5rem;
}
.task__text {
  border-bottom: 0.0625rem solid rgba(227, 214, 23, 0.9568627451);
  padding: 2.5rem;
  text-align: start;
}

button {
  padding: 1.25rem 2.5rem;
  border: 0.0625rem solid rgba(227, 214, 23, 0.9568627451);
}

.solution {
  padding-bottom: 30px;
}
.solution__container {
  display: grid;
  gap: 40px;
}
.solution__item {
  display: grid;
  gap: 20px;
}
.solution__text {
  text-align: start;
  font-size: 20px;
}
.solution__text span {
  color: rgba(227, 214, 23, 0.9568627451);
}
.solution__answer span {
  display: inline-block;
  width: 150px;
  text-align: start;
}

.input-item {
  display: grid;
  max-width: 600px;
  grid-template-columns: 1.5fr 0.5fr;
  text-align: start;
  gap: 20px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-items: end;
  margin: 0 auto;
}

.input-item input {
  border: 1px solid rgba(227, 214, 23, 0.9568627451);
  border-radius: 5px;
  padding: 5px;
}

.input-item input:hover {
  background-color: #2b2b2b;
}

.input-item:focus-visible {
  background-color: #2b2b2b;
  border: 1px solid rgba(227, 214, 23, 0.9568627451);
  outline: 1px solid rgba(227, 214, 23, 0.9568627451);
}

.color {
  margin-top: 30px;
}

.solution__initial, .solution__result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  gap: 10px;
  max-width: 800px;
  width: 100%;
}
.solution__initial p, .solution__result p {
  text-decoration: underline;
  text-decoration-color: rgba(227, 214, 23, 0.9568627451);
  text-underline-offset: 5px;
  min-width: 140px;
  text-align: start;
}
.solution__initial span, .solution__result span {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: center;
}