.work {
  padding-block: 5rem 1.875rem;
  background: var(--bg-light-color);
}
.work__container {
  display: grid;
  row-gap: 1.875rem;
}

.work__cards {
  display: grid;
  row-gap: 0.9375rem;
  grid-auto-rows: 1fr;
}
.work__item {
  padding: 1.375rem;
  border-radius: 0.75rem;
  background: var(--light-color);
  box-shadow: 2rem 2rem 7.75rem 0px rgba(43, 56, 76, 0.1);
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.work__icon {
  max-width: 4.5rem;
  width: 100%;
  aspect-ratio: 1;
  padding: 1.25rem;
  border-radius: 0.375rem;
  background-color: var(--bg-accent-color);
  transition: background-color 0.3s;
}
.work__icon svg{
width: 100%;
height: 100%;
object-fit: contain;
}
.work__icon:not(:last-child) {
  margin-bottom: 1.25rem;
}
.work__item:hover .work__icon {
  background-color: var(--accent-color);
}
.work__item:hover svg path {
  fill: var(--light-color);
}
.work__subtitle {
  color: var(--main-dark-color);
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.2;
}
.work__text {
  color: var(--text-color-main);
  line-height: 1.5;
}
.work__text p:not(:last-child) {
  margin-bottom: 0.5rem;
}
@media (min-width: 37.5em) {
  .work__cards {
    column-gap: 1.5rem;
    grid-template-columns: 1fr 1fr;
    row-gap: 0;
  }
  .work__item:nth-child(odd) {
    margin-bottom: 1.5rem;
  }
  .work__item:nth-child(even) {
    margin-top: 1.5rem;
  }
  .work {
    padding-block: 9.375rem 3.75rem;
  }
  .work__item {
    padding: 2rem;
  }
}
@media (min-width: 62.5em) {
  .work__container {
    grid-template-columns: 529fr 648fr;
    column-gap: 1.875rem;
    align-items: center;
  }
  .work {
    padding-block: 11.875rem 6.25rem;
  }
}
@media (min-width: 76.5em) {
  .work__container {
    column-gap: 8.9375rem;
  }
  .work {
    padding-block: 15.5rem 8.75rem;
  }
}
