@import url("https://fonts.googleapis.com/css?family=Manrope:regular,600,700,800&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  display: inline-block;
  color: inherit;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

html,
body {
  line-height: 1;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

/* FORM */
input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
}

input,
textarea {
  width: 100%;
}

button,
select,
option {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

:root {
  --bgColor: rgb(18, 18, 18);
  --colorText: rgb(254, 254, 254);
}

body {
  font-family: "Manrope", sans-serif;
}

.wrapper {
  min-height: 100%;
  overflow: clip;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: var(--bgColor);
}
.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

[class*=__container] {
  max-width: 87.5rem;
  margin-inline: auto;
  padding-inline: 0.9375rem;
}

.header {
  padding-block: 1.875rem;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 1.25rem;
     -moz-column-gap: 1.25rem;
          column-gap: 1.25rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.header__img {
  max-width: 3.75rem;
  aspect-ratio: 1;
  width: 100%;
}
.header__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.header__title {
  font-size: 3.125rem;
  text-align: center;
  color: var(--colorText);
  text-transform: uppercase;
  letter-spacing: 0.1875rem;
}

.footer__container {
  font-size: 1.25rem;
  color: var(--colorText);
}

.homework {
  padding-block: 6.25rem;
}
.homework__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  row-gap: 2.5rem;
}
.homework__link {
  padding: 2.5rem 1.25rem;
  background-color: rgba(132, 114, 181, 0.1568627451);
  width: 100%;
  border-radius: 0.625rem;
  border: 0.0625rem solid #554e4e;
}
.homework__check {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media (any-hover: hover) {
  .homework__check:hover {
    border: 0.0625rem solid rgba(227, 214, 23, 0.9568627451);
    -webkit-box-shadow: 0rem 0rem 0.9375rem rgba(227, 213, 23, 0.3647058824);
            box-shadow: 0rem 0rem 0.9375rem rgba(227, 213, 23, 0.3647058824);
  }
}
.homework__done {
  border: 0.0625rem solid #1ead1c;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media (any-hover: hover) {
  .homework__done:hover {
    -webkit-box-shadow: 0rem 0rem 0.625rem rgba(16, 211, 29, 0.3176470588);
            box-shadow: 0rem 0rem 0.625rem rgba(16, 211, 29, 0.3176470588);
  }
}
.homework__title {
  font-size: 1.875rem;
  text-align: center;
  color: var(--colorText);
  text-transform: uppercase;
  letter-spacing: 0.1875rem;
}