@import url("https://fonts.googleapis.com/css?family=Epilogue:regular,700,900&display=swap");
@import url("reset.css");

body {
  font-family: "Epilogue", sans-serif;
  background-color: #28293e;
  color: #fff;
}
.wrapper {
  min-height: 100%;
  overflow: clip;
  display: flex;
  flex-direction: column;
}
.wrapper > main {
  flex-grow: 1;
}

[class*="__container"] {
  max-width: 1200px;
  margin-inline: auto;
  padding-inline: 15px;
}
.header__container {
  min-height: 80px;
  padding-block: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 25px;
}

.header__logo {
  position: relative;
  z-index: 4;
  flex-basis: 152px;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.33;
  display: flex;
  gap: 14px;
  align-items: center;
  max-width: 100%;
}
.menu {
  line-height: 2;
  display: flex;
  column-gap: 15px;
  row-gap: 2px;
  flex-basis: 515px;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
.menu__item {
  transition: color 0.5s;
}
.menu__item--complement {
  display: none;
}
.header__actions {
  position: relative;
  z-index: 4;
  flex-basis: 152px;
  display: flex;
  justify-content: flex-end;
  flex-shrink: 0;
  gap: 10px;
}
.header__contact {
  text-align: center;
  font-size: 14px;
  font-weight: 900;
  line-height: normal;
  text-transform: uppercase;
  border-radius: 6px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 18px 35px;
  transition: all 0.3s;
}
@media (any-hover: hover) {
  .header__contact:hover {
    border: 1px solid #ef6d58;
    background-color: #ef6c5830;
  }
  .menu__item:hover {
    color: #ef6c58;
  }
}
.header__btn-menu {
  display: none;
}
@media (max-width: 632px) {
  .header__contact {
    padding: 14px 25px;
  }
  .header__actions {
    flex-basis: auto;
    display: flex;
    align-items: center;
    gap: 15px;
  }
  .header__container {
    min-height: 70px;
  }
}
@media (max-width: 605px) {
  .header__btn-menu {
    display: flex;
    flex-basis: 30px;
    flex-shrink: 0;
    flex-direction: column;
  }
  .header__btn-menu span {
    width: 100%;
    height: 2px;
    background-color: #ef6d58;
    margin-block: 6px;
    transition: all 0.3s;
  }
  .header__btn-menu::before,
  .header__btn-menu::after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: #ef6d58;
    transition: all 0.3s;
  }
  .open-menu .header__btn-menu::before {
    transform: rotate(45deg) translateY(1.5px);
  }
  .open-menu .header__btn-menu::after {
    transform: rotate(-45deg) translateY(-1.5px);
  }
  .open-menu .header__btn-menu span {
    width: 0;
    height: 0;
    margin: 0;
    background-color: #ef6c5800;
  }

  .menu {
    row-gap: 25px;
    align-items: flex-end;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    padding: 100px 15px 30px;
    font-size: 26px;
    z-index: 2;
    background-color: #28293e;
    overflow: auto;
    flex-wrap: nowrap;
    transition: all 0.3s;
    justify-content: center;
  }
  .menu::before {
    content: "";
    width: 100%;
    height: 70px;
    position: fixed;
    inset: 0;
    background-color: #28293e;
    z-index: 3;
  }
  /* .menu__item {
    padding-block: 8px;
  } */
}
.open-menu .menu,
.open-menu .menu::before {
  left: 0;
}
@media (max-width: 439px) {
  .header__contact {
    display: none;
  }
  .menu__item--complement {
	display: block;
  }
}
