$mainDarkColor: #141414;
$moreDarkColor: #0f0f0f;
$lessDarkColor: #1a1a1a;
$mainTextColor: #fff;
$textColor: #999;
$textColor2: #bfbfbf;
$borderColor: #1f1f1f;
$borderColor2: #262626;
$acÑentColor: #e50000;

body {
	font-family: "Manrope", sans-serif;
	.open-menu & {
		overflow: hidden;
	}
}
.wrapper {
	min-height: 100%;
	overflow: clip;
	display: flex;
	flex-direction: column;
	background-color: $mainDarkColor;
	> main {
		flex-grow: 1;
	}
}

[class*="__container"] {
	max-width: toRem(1624);
	margin-inline: auto;
	padding-inline: toRem(15);
}
.footer {
	color: $mainTextColor;
	padding: toRem(20);
}
